img {
    width: 50px;
  }
  
  picture {
    display: block;
    height: 100px;
    margin: 10px;
  }
  
  picture img {
    width: 130px;
    position: absolute;
  }
  
  picture > span {
    position: fixed;
    margin-top: 65px;
    margin-left: 20px;
  }
  
  
  ul {
    list-style:none;
    padding: 0;
  }
  
  section :is(button, img) {
    border-radius: 100%;
  }
  
  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10 px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex li {
    padding: 10px;
    
  }
  